.homebottom {
  display: grid;
  place-items: center center;
  min-height: 100vh;
  background: #faeee7;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
}

.homebottom__wrapper {
  display: flex;
  height: 40em;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
  overflow-Y: hidden;
}

.homebottom__wrapper__text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05rem;
  width: 25%;
  padding: 1em;
  transform: translateX(100%);
}

.homebottom__wrapper__text--slidein {
  font-family: 'Montserrat';
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 1em;
  transform: translateX(0%);
  transition: transform 1s ease-in;
  margin-left: 1em;
  color: white;
}

.homebottom__wrapper__text--slidein >* {
  margin: .5rem;
}

.homebottom__wrapper__image {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  transform: translateY(100%);
  opacity: 0;
}

.homebottom__wrapper__image--slidein {
  font-size: 1.1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
  transform: translateX(0%);
  opacity: 1;
  transition: transform 1s ease-in;
}

.homebottom__wrapper__image--slidein >* {
  margin: .5rem;
}

@media (max-width: 1300px) {
  .homebottom >* >* {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .homebottom >* >* {
    font-size: .9rem;
  }
}

@media (max-width: 1000px) {
  .homebottom >* >* {
    font-size: .8rem;
  }
}

@media (max-width: 780px) {
  .homebottom__wrapper {
    height: 60%;
  }
  .homebottom >* >* {
    font-size: .7rem;
    letter-spacing: 0;
  }
}

@media (max-width: 780px) {
  .homebottom__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .homebottom >* >* {
    width: 85%;
  }

  .homebottom >* >*:first-child {
    margin-bottom: 1rem;
  } 
}

@media (max-width: 660px) {
  .homebottom >* >* {
    font-size: .6rem;
  }
}

@media (max-width: 470px) {
  .homebottom >* >* {
    width: 95%;
  }
  .homebottom__wrapper {
    height: 80%;
  }
}
