footer {
  position: relative;
  display: grid;
  grid-area: 12 / 1 / 13 / 13;

  place-items: center center;
  font-family: 'Play', sans-serif;
  padding: 3%;
  background: rgb(51,39,42);
  background: linear-gradient(0deg, rgba(51,39,42,1) 0%, rgba(234,221,207,1) 35%, rgba(250,238,231,1) 100%); 
}

footer .row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #131313;
  font-size: 1em;
  text-align: center;
}

.row {
  margin: .5em;
}

#row-notice {
  position: absolute;
  bottom: 40px;
  font-size: .7em;
  color: white;
}

#row-notice a {
  color: beige;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

footer .row a {
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
  color: #131313;
  transition: 0.5s;
}

footer .row a:hover {
  color: pink;
}

footer .row ul {
  width: 100%;
}

footer .row ul li {
  display: inline-block;
  margin: 1em 1em;
}

footer .row a i {
  font-size: 2.5em;
  margin: 0% 2%;
}

footer .row:last-child a {
  font-size: 1em;
  font-weight: 500;
  color: #fffffe;
}

@media (max-width: 720px) {
  footer {
    text-align: left;
    padding: 5%;
  }

  footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  footer .row a i {
    margin: 0% 3%;
  }
}
