.admin-controls {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.5fr 1.5fr repeat(10, 1fr);
  grid-template-areas:
    "creator-header creator-header creator-header creator-header creator-header creator-header creator-header creator-header creator-header creator-header creator-header creator-header"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main"
    "creator-sidebar creator-sidebar creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main creator-main";
}

.admin-controls a {
  text-decoration: none;
}

.creator-main {
  display: grid;
  place-items: start center;
}

.info-box {
  display: grid;
}

.admin-controls__header {
  display: flex;
  justify-content: space-between;

  grid-area: creator-header;
  background: #171717;
}

.admin-controls__header a {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #676767;
  transition: 1.5s;
}

.admin-controls__header a:hover {
  color: white;
}

.creator-link {
  display: grid;
  place-items: center center;
  cursor: pointer;
  margin: 1em;
  display: grid;
}

.admin-controls__header__back-to {
  display: grid;
  place-items: center center;
  height: 100%;
  width: 16.7%;
  border-right: 1px solid #2e2e2e;
}

.admin-controls__header__go-to {
  display: grid;
  place-items: center center;
  height: 100%;
  width: 16.7%;
  display: grid;
  border-left: 1px solid #2e2e2e;
}

.admin-controls__main {
  display: grid;
  grid-area: creator-main;
}

.admin-controls__sidebar {
  display: grid;
  place-items: start start;
  grid-area: creator-sidebar;
  background: #171717;
}

.admin-controls__sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  margin: 0;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
}

.admin-controls__sidebar ul li {
  display: grid;
  list-style-type: none;
  width: 100%;
}

.admin-controls__sidebar a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #676767;
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  transition: 1s;

  display: grid;
  place-items: center center;
}

.admin-controls__sidebar a:hover {
  color: white;
}
