*~
.fuse_hidden*
.Trash-*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

client
client/

pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov

dist
dist/
node_modules/
.npm
*.tsbuildinfo
.eslintcache
.yarn-integrity
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.test
.env*.local

tmp/
temp/

Session.vim
Sessionx.vim

.netrwhist
tags
[._]*.un~

AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
.DS_Store
