.creator-sidebar {
  display: grid;
  place-items: start start;
  grid-area: creator-sidebar;
  background: #171717;
}

.creator-sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  margin: 0;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
}

.creator-sidebar ul li {
  display: grid;
  list-style-type: none;
  width: 100%;
}

.creator-sidebar a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #676767;
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  transition: 1s;

  display: grid;
  place-items: center center;
}

.creator-sidebar a:hover {
  color: white;
}

.sidebar-line {
  width: 100%;
  color: pink;
}
