.category-page {
  background: #faeee7;
  min-height: 100vh;
  padding-top: 50px;
}

.category-page__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-page__title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Liberation', serif;
  display: flex;
  color: #131313;

  margin-left: 6em;
  margin-top: 1em;
}

.category-page p:first-letter {
  text-transform: capitalize;
}

/* If you're wondering why there is a p tag inside h1 tags its because css wont let me capitalize the first letter if its just a bare p element for some reason and also h1 offers nice preset for category title */

#render-mark {
  border-top: 1px solid transparent;
  width: 85%;
}
