.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: arial;
  background: transparent;
  width: 27em;
  height: 28.5em;
  margin: 2em 0.6em;
  transition: all 1s;
}

.product-card__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 85%;
  height: 85%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  z-index: 1;
  transition: all 1s;
}

.product-card__card-button {
  position: absolute;
  top: 25px;
  right: 45px;
  display: flex;
  background-color: transparent;
  color: #594a4e;
  border: none;
  outline: 0;
  padding: 12.5px;
  margin-top: .3em;
  font-size: 1.2em;
  cursor: pointer;
  border: 1px solid #594a4e;
  border-radius: 100%;
  transition: .5s ease-in;
  z-index: 2;
}

.product-card__card-button:hover {
  background: white;
}

.card-button:hover {
  color: #282828;
  background: #c3b091;
}

.product-card__title {
  position: relative;
  display: flex;
  font-family: 'Liberation', sans-serif;
  color: #131313;
  width: 85%;
  padding: 10px;
}

.product-card__title p {
  font-size: 1.2em;
}

.product-card__title p:first-letter {
  text-transform: capitalize;
}
