.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: arial;
  background: transparent;
  width: 27em;
  height: 28.5em;
  margin: 2em 0.6em;
  transition: all 1s;
}

.product-card img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 85%;
  height: 85%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  z-index: 1;
  transition: all 1s;
}

.product-card__card-button {
  position: absolute;
  bottom: 5%;
  right: 45px;
  display: flex;
  background-color: transparent;
  color: white;
  border: none;
  outline: 0;
  padding: 12.5px;
  margin-top: .3em;
  font-size: 1.2em;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 100%;
  transition: .5s ease-in;
  z-index: 2;
}

.product-card__card-button:hover {
  background: black;
  color: black;
}

.card-button:hover {
  color: #282828;
  background: #c3b091;
}

.product-card__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: beige;
  width: 85%;
  padding: 1rem 0rem;
}

.product-card__title p:first-child {
  margin-bottom: .4rem;
  width: 85%;
  text-align: start;
}

.product-card__title p {
  font-size: 1.2em;
}

.product-card__title p:first-letter {
  text-transform: capitalize;
}



@media (max-width: 600px) {
  .product-card {
    width: 80%;
    height: 28.5em;
  }
  .product-card__title p {
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  .product-card {
    height: 20rem;
  }
}

@media (max-width: 400px) {
  .product-card__title p {
    font-size: .9em;
  }
  .product-card__card-button {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .product-card__title p {
    font-size: .8em;
  }
}

@media (max-width: 350px) {
  .product-card__title p {
    font-size: .7em;
  }
  .product-card__card-button {
    font-size: .8em;
  }
}
