.purchase-confirmed {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  height: 100vh;
  background: #faeee7;
}


.purchase-confirmed p {
  font-size: 1em;
  margin-bottom: 1em;
}

.purchase-confirmed h1, p {
  font-family: 'Montserrat', sans-serif;
}

.purchase-confirmed__thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12em;
  left: 39%;
}

.purchase-confirmed__thanks p {
  font-size: 1.5em;
}

.purchase-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.purchase-col-1 h1 {
  margin: 1em 0px 3em 17em;
}

.purchase-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 90%;
}

.purchase-col-2 a {
  font-family: 'Montserrat', sans-serif;
}

.order-table {
  height: 53.5%;
  width: 75%;
  overflow-y: scroll;
}

.order-table table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.order-table table th {
  position: sticky;
  text-align: center;
  color: black;
}

.order-table table td img {
  width: 45%;
  height: 100px;
}

.order-table table tbody tr {
}

.order-table table td {
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid black;
}

.purchase-col-right__order-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 75%;
}

.purchase-col-right__order-info p {
  font-family: 'Montserrat';
  font-size: 1.2em;
  margin-right: 1em;
}

.purchase-col-2__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 75%;
}

.purchase-col-2__right__details {
  display: grid;
  place-items: center center;
  border-right: 2px solid #131313;
  width: 50%;
}

.purchase-col-2__right__details h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.purchase-col-2__right__details p {
  font-size: 1.1em;
}

.purchase-col-2__right__shipping {
  display: grid;
  place-items: center center;
  flex-grow: 1;
}

.purchase-col-2__right__shipping h2 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.purchase-col-2__right__shipping p {
  font-size: 1.1em;
}

.purchase-col-2__right__invoice {
  display: grid;
  place-items: center center;
  font-size: 1em;
  padding: 1em;
  width: 75%;
}

.purchase-col-2__right__invoice button {
  font-size: 1em;
  border: none;
  height: 3em;
  background: #228b22;
  color: white;
  cursor: pointer;
  transition: 1.5s;
  margin-bottom: .9em;
}

.purchase-col-2__right__invoice button:hover {
  background: #176617;
}
