.single-product {
  border: 1px solid black;
  width: 100%;
  height: 50em;
}

.single-product__col-1 {
  border: 1px solid black;
  display: flex;
  height: 50%;
}

.single-product__col-1 h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em;
}

.single-product__col-1__info {
  width: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-product__col-1__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.single-product__col-2 {
  margin: 1em;
  display: flex;
  height: 50%;
}
