.single-product {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  height: 100vh;
}

.single-product__col-1 {
  display: grid;
  grid-area: 2 / 2 / 10 / 6;
  background-size: cover;
  background-position: center;
}

.single-product__col-2 {
  display: grid;
  place-items: center center;
  grid-area: 2 / 6 / 10 / 10;
}

.single-product__col-2__info {
  padding: 2em;
  font-size: 2em;
}

.single-product__col-2 h1 {
  font-size: 2.8em;
}

.single-product__col-2 button {
  font-size: 1.4em;
  padding: 1.5em;
  width: 40%;
  background: #228b22;
  color: white;
  cursor: pointer;
  border: none;
  transition: 1.5s;
}

.single-product__col-2 button:hover {
  background: black;
}
