.purchase-confirmed {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  min-height: 100vh;
  background: #38242c;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.purchase-confirmed p {
  font-size: 1em;
  margin-bottom: 1em;
}

.purchase-confirmed h1, p {
  font-family: 'Rubik', sans-serif;
}

.purchase-confirmed__thanks {
  font-size: 1.5em;
  color: beige;
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  justify-content: center;
  align-items: end;
}

.purchase-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  grid-area: 2 / 3 / 5 / 5;
  color: beige;
}

.purchase-col-1 h1 {
  margin: 0rem;
  font-size: 1.2rem;
  padding: 1rem;
}

.purchase-col-2 {
  color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: inherit;
  grid-area: 2 / 1 / 5 / 3;
}

.purchase-col-2 a {
  font-family: 'Montserrat', sans-serif;
}

.order-table {
  height: 85%;
  width: 95%;
  overflow-y: scroll;
}

.order-table table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.order-table table th {
  position: sticky;
  text-align: center;
  color: beige;
}

.order-table table td img {
  width: 45%;
  height: 100px;
}

.order-table table tbody tr {
}

.order-table table td {
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid beige;
}

.purchase-col-right__order-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: inherit;
}

.purchase-col-right__order-info p {
  font-family: 'Montserrat';
  font-size: 1.2em;
  margin-right: 1em;
}

.purchase-col-2__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  width: 100%;
}

.purchase-col-2__right__details {
  display: grid;
  place-items: center center;
  border-right: 2px solid beige;
  width: 50%;
}

.purchase-col-2__right__details h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.purchase-col-2__right__details p {
  font-size: 1.1em;
}

.purchase-col-2__right__shipping {
  display: grid;
  place-items: center center;
  flex-grow: 1;
}

.purchase-col-2__right__shipping h2 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.purchase-col-2__right__shipping p {
  font-size: 1.1em;
}

.purchase-col-2__right__invoice {
  display: grid;
  place-items: center center;
  font-size: 1em;
  padding: 0em;
  width: 100%;
}

.purchase-col-2__right__invoice button {
  font-size: 1em;
  border: none;
  border-radius: 6px;
  height: 3em;
  background: #55423d;
  color: beige;
  cursor: pointer;
  transition: 1.5s;
  margin-bottom: .9em;
}

.purchase-col-2__right__invoice button:hover {
  padding: 1em;
}

@media (max-width: 1024px) {
  .purchase-confirmed {
    grid-template-columns: 1fr;
    grid-template-rows: .3fr repeat(2, 1fr);
  }

  .purchase-confirmed__thanks {
    font-size: 1.5em;
    color: beige;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .purchase-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    grid-area: 2 / 1 / 3 / 2;
    color: beige;
  }

  .purchase-col-1 h1 {
    margin: 0rem;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .purchase-col-2 {
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: inherit;
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media (max-width: 475px) {
  .order-table {
    font-size: .9rem;
  }
  .order-table table td img {
    width: 75%;
  }
  .purchase-col-2__right__shipping h2,
  .purchase-col-2__right__details h2 {
    font-size: 1rem;
  }
  .purchase-confirmed p {
    font-size: .8rem;
  }
}
