.profile-header {
  display: grid;
  grid-area: profile-header;
  background: #f0ecec;
  grid-auto-flow: column;
  place-items: center start;
  height: 100%;
  border: 1px solid black;
}

.profile-header h1 {
  font-family: "Lato", sans-serif;
  margin-left: 13rem;
  display: grid;
  color: #131313;
  width: 75%;
  font-size: 2em;
  font-weight: 350;
}

.store-name {
  cursor: pointer;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}

.store-name:hover {
  color: #ffab00;
}


