.auth-overlay {
  position: relative;
  display: flex;
  width: 60%;
}

.auth-overlay img {
  position: relative;
  object-fit: cover;
  width: 60%;
  height: 75vh;
}

.auth-overlay form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #55423d;
  flex-grow: 1;
  min-width: 320px;
}

@media (max-width: 1400px) {
  .auth-overlay .register-link {
    right: 45%;
  }
}

@media (max-width: 1220px) {
  .auth-overlay .register-link {
    right: 47%;
    font-size: .9rem;
  }
}

@media (max-width: 1150px) {
  .auth-overlay .register-link {
    right: 50%;
    font-size: .8rem;
  }
}

@media (max-width: 1100px) {
  .auth-overlay {
    width: 70%;
  }
}

@media (max-width: 940px) {
  .auth-overlay {
    width: 80%;
  }
}

@media (max-width: 840px) {
  .auth-overlay {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .auth-overlay {
    width: 95%;
  }
}

@media (max-width: 680px) {
  .auth-overlay .register-link {
    text-align: center;
    right: 52%;
    font-size: 1.2rem;
  }
}
