.promotions-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 9;
}

.promotions-preview__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
}
