.promotions-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.promotions-preview__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .promotions-preview {
      display: none;
    }
}
