.profile-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-overview__wrapper {
  position: relative;
  height: 85%;
  width: 75%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-overview__wrapper__image {
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.profile-overview__wrapper__welcome-text {
  position: absolute;
  top: 15px;
}
