.user-viewer {
  display: flex;
  border: 1px solid black;
  height: 120px;
  width: 480px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.user-viewer .email {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.user-viewer .user-id {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.user-viewer .creation-date {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.view-user {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 200px;
  cursor: pointer;
  transition: 1.5s;
}

.view-user h1 {
  font-size: 1.2em;
}

.view-user:hover {
  background: black;
  color: white;
}
