.promotion-card {
  position: relative;
  display: grid;
  width: 85%;
  height: 90%;
  transition: all 1s;
  margin-left: 2.5em;
  cursor: pointer;
}

.promotion-card__img {
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 10%;
}

.promotion-card__p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Montserrat';
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  width: 150px;
  border-radius: 35px;
  border: 2px solid white;
  color: white;
  transition: all .5s;
}

.promotion-card__p:hover {
  background: #926034;
  color: #fffe;
}

.promotion-card__h2 {
  position: absolute;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  padding: 1em 0em 1em 0em;
  width: 100%;
}
