.logo {
  display: grid;
  place-items: center center;
  cursor: pointer;
  transition: 1s;
  height: 100%;
}

.logo:hover {
  filter: brightness(1.2);
}

.logo h1 {
  display: grid;
  font-size: 2.7em;
  font-weight: bold;
  color: #c3b091;
}
