.creator-header {
  display: flex;
  justify-content: space-between;

  grid-area: creator-header;
  background: #20242c;
}

.header-link {
  display: grid;
  place-items: center center;
  cursor: pointer;
  margin: 1em;
  display: grid;
}

.creator-header a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  transition: 1.5s;
}

.creator-header a:hover {
  color: pink;
}

.back-to {
  display: grid;
  place-items: center auto;
  height: 100%;
  width: 15%;
}

.go-to {
  display: grid;
  place-items: center center;
  height: 100%;
  width: 15%;
  display: grid;
}
