.creator-header {
  display: flex;
  justify-content: space-between;

  grid-area: creator-header;
  background: #171717;
}

.creator-link {
  display: grid;
  place-items: center center;
  cursor: pointer;
  margin: 1em;
  display: grid;
}

.creator-header a {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #676767;
  transition: 1.5s;
}

.creator-header a:hover {
  color: white;
}

.back-to {
  display: grid;
  place-items: center center;
  height: 100%;
  width: 16.7%;
  border-right: 1px solid #2e2e2e;
}

.go-to {
  display: grid;
  place-items: center center;
  height: 100%;
  width: 16.7%;
  display: grid;
  border-left: 1px solid #2e2e2e;
}
