.profile-nav {
  display: grid;
  grid-area: profile-nav;
  background: #f0ecec;
  place-items: center center;
}

.profile-nav h1 {
  display: grid;
  place-items: center center;
  color: white;
  background: #181818;
  width: 21rem;
  height: 5rem;
  cursor: pointer;
  -webkit-transition: color 1.5s;
  -moz-transition: color 1.5s;
  -ms-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
}

.profile-nav h1:hover {
  color: black;
  background: white;
}

.nav-element {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  display: grid;
  place-items: center center;
  color: white;
  background: #181818;
  width: 21rem;
  height: 5rem;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: color 1.5s;
  -moz-transition: color 1.5s;
  -ms-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
}

.nav-element:hover {
  color: black;
  background: white;
}

.profile-nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 85%;
  width: 85%;
  background: white;
}
