.navbar {
  background: #131313;
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100px;
  margin-left: 250px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.navbar h1 {
  color: #c3b091;
}
