.edit-products {
  display: grid;
}

.product-editor {
  display: grid;
}

.product-editor h1 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

.product-editor form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-editor input {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.product-editor select {
  margin-bottom: 1em;
}

.product-editor input[type='submit']{
  margin-top: 1em;
  border: none;
  height: 3em;
  background: #228b22;
  color: white;
}

.product-editor input[type='submit']:hover {
  background: #2c6b2c;
}

.product-editor input[type='submit']:active {
  transform: translateY(2px);
}
