.classics {
  margin: 1em;
  height: 100vh;
}

.cl-btn {
  margin: 10px;
}

.something {
  padding: 10em;
  background: #ece5da;
  border: 2px solid skyblue;
}

.something input[type=file] {
  color: white;
}

.something select {
  margin-bottom: 1em;
}

.something nav {
  width: 25em;
}
