@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.sidebar {
  position: fixed;
  width: 19em;
  height: 100%;
  display: grid;
  grid-area: 1 / 1 / 13 / 2;
  place-items: start center;

  background: #131313;
  transition: 0.5s;
  z-index: 9;
}

.close-btn {
  top: 1em;
  left: 15.5em;
  position: fixed;
  cursor: pointer;
  color: #efcba7;
  width: 3em;
  height: 2.5em;
  transition: 0.5s;
}

.close-btn-closed {
  top: 1em;
  transform: translateX(-15.3125em);
  left: 15.5em;
  position: fixed;
  cursor: pointer;
  color: #efcba7;
  background: #131313;
  width: 3em;
  height: 2.5em;
  border-radius: .3em;
  transition: 0.5s;
}

.sidebar-closed {
  width: 0em;
  display: grid;
  grid-area: 1 / 1 / 13 / 2;
  place-items: start center;

  background: #000;
  transition: 0.5s;
}

.sidebar-closed a {
  visibility: hidden;
}

.sidebar h1 {
  display: block;
  color: #fff;
  font-family: 'Rubik';
  font-size: 1.7em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 1em;
  font-size: 25px;
  text-transform: uppercase;
  transition: 0.5s;
}

.sidebar a {
  transition: 0.5s;
  font-family: 'Rubik';
  display: block;
  width: 150px;
  margin: 10px 35px;
  padding: 5px 10px;
  color: #bbb;
  text-decoration: none;
  letter-spacing: 2px;
}

.sidebar a:first-letter {
  text-transform: capitalize;
}

.sidebar a:hover {
  color: #fff;
  transition: 0.4s;
}
