.admin-overview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-overview-wrapper {
  height: 85%;
  width: 75%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-image {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.admin-image h1 {
  font-family: 'Roboto', sans-serif;
  display: grid;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}

.text-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;
  height: 10%;
  width: 100%;
}
