@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.sidebar {
  position: fixed;
  width: 250px;
  top:0;
  left: 0;
  bottom: 0;
  background: #111;
  padding-top: 50px;
}

.sidebar h1 {
  font-size: 1.7em;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 20px;
  font-size: 25px;
  text-transform: uppercase;
}

.sidebar a {
  font-family: "Rubik";
  display: block;
  width: 150px;
  margin: 10px 35px;
  padding: 5px 10px;
  color: #bbb;
  text-decoration: none;
  letter-spacing: 2px;
}

.sidebar a:hover {
   color: #fff;
   transition: 0.4s;
}

