.alert {
  font-size: 1rem;
  position: absolute;
  z-index: 10;

  top: 45px;
  left: 65px;
  margin: 10px;

  color: #8ead47;
  background: #f4ffdb;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 12px;
  width: 370px;
  height: 90px;
  transition: all 1s ease;
}

.alert__message {
  margin: .5rem;
}

#alert__close {
  font-family: 'Lato';
  position: absolute;
  right: 10px;
  top: 4px;
  color: rgba(0,0,0, 0.5);
}

#alert__close:hover {
  cursor: pointer;
}
