.admin-dashboard {
  background: #f0ecec;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 20px 20px;
  grid-template-areas:
    'admin-header admin-header admin-header'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main'
    'admin-nav admin-main admin-main';
}


.admin-dashboard a {
  text-decoration: none;
}

.admin-dashboard__header {
  display: grid;
  grid-area: admin-header;
  background: #f0ecec;
  grid-auto-flow: column;
  place-items: center start;
  height: 100%;
  border: 1px solid black;
}

.admin-dashboard__header h1 {
  font-family: 'Lato', sans-serif;
  margin-left: 13rem;
  display: grid;
  color: #131313;
  width: 75%;
  font-size: 2em;
  font-weight: 350;
}

.admin-dashboard__header__store-name {
  cursor: pointer;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.admin-dashboard__header__store-name:hover {
  color: #ffab00;
}

.admin-dashboard__nav {
  display: grid;
  grid-area: admin-nav;
  background: #f0ecec;
  place-items: center center;
}

.admin-dashboard__nav h1 {
  display: grid;
  place-items: center center;
  color: white;
  background: #181818;
  width: 21rem;
  height: 5rem;
  cursor: pointer;
  -webkit-transition: color 1.5s;
  -moz-transition: color 1.5s;
  -ms-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
}

.admin-dashboard__nav h1:hover {
  color: black;
  background: white;
}

.admin-dashboard__nav__wrapper a {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  display: grid;
  place-items: center center;
  color: white;
  background: #181818;
  width: 21rem;
  height: 5rem;
  margin-bottom: 1em;
  cursor: pointer;
  transition: color 1.5s;
}

.admin-dashboard__nav__wrapper a:hover {
  color: black;
  background: white;
}

.admin-dashboard__nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 85%;
  width: 85%;
  background: white;
}

.admin-main {
  display: grid;
  grid-area: admin-main;
  background: #f0ecec;
}

.profile-admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-admin form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.profile-admin button {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 0.9em;
  background: #f0f0f0;
  width: 100%;
}

.profile-admin label {
  display: block;
  line-height: 2;
  color: #131313;
  font-size: 14px;
  font-weight: 200;
}

.admin-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

.admin-text::before {
  display: inline;
  content: '⚠ ';
}

.profile-admin button {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  border: 0;
  background: #f0ecec;
  color: #131313;
  border: none;
  margin-top: 40px;
  padding: 15px;
  width: 18rem;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-transition: color 1.5s;
  -moz-transition: color 1.5s;
  -ms-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
  cursor: pointer;
}

.profile-admin button[type='button']:hover {
  background: #282828;
  color: #f5f5f5;
}

.profile-admin button[type='button']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  opacity: 0.8;
}

.profile-admin input {
  background: #dcdcdc;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.profile-admin button[type='submit'] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  cursor: pointer;
}

.profile-admin button[type='submit']:hover {
  background: #bf1650;
}

.profile-admin button[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.profile-admin button[type='submit'] {
  -webkit-appearance: none;
}

.profile-admin button:disabled {
  opacity: 0.4;
}

.profile-admin input[type='button']:hover {
  transition: 0.3s all;
}

.profile-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 75%;
  background: white;
}

.admin-myorders-wrapper {
  position: absolute;
  height: 75%;
  width: 55%;
  max-height: 85%;
  max-width: 75%;
  background: white;
}

.admin-users-wrapper {
  height: 85%;
  width: 75%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
}

.admin-form {
  margin-left: 2em;
}

.admin-myorders-wrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 380;
  font-size: 1 m;
  color: #131313;
}

.admin-order-wrapper {
  position: absolute;
  left: 7%;
  top: 7%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 85%;
  max-height: 85%;
  width: 85%;
  height: 85%;
}

.admin-myusers-wrapper {
  height: 85%;
  width: 75%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-myusers-wrapper h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 380;
  font-size: 1em;
}

#browse-users {
  position: absolute;
  top: 9em;
}

#browse-orders {
  position: absolute;
  top: 1em;
  left: 40%;
}

#category-title {
  position: absolute;
  top: 6em;
}

.user-wrapper {
  position: absolute;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 65%;
  overflow-y: scroll;
}

#product-desc {
  max-height: 200px;
  max-width: 300px;
  height: 100px;
  width: 200px;
}
