.admin-creator {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    'creator-header creator-header creator-header creator-header creator-header creator-header'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main'
    'creator-sidebar creator-main creator-main creator-main creator-main creator-main';
}
