.creator-overview {
  display: grid;
  border: 2px solid black;
  height: 75%;
  width: 50%;
}

.info-box{
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#creator-welcome {
  position: absolute;
  font-size: 1.7em;
  color: white;
}

#creator-text {
  position: absolute;
  color: white;
  top: 41.5em;
}
