.creator-overview {
  display: grid;
  height: 100%;
  width: 100%;
}

.info-box {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#creator-welcome {
  position: absolute;
  top: 6em;
  font-size: 1.9em;
  color: white;
}

#creator-text {
  position: absolute;
  color: white;
  top: 15.5em;
}
