.profile-myorders {
  position: relative;
  height: 85%;
  width: 75%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-myorders__header {
  position: absolute;
  top: .3em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 380;
  font-size: 2em;
  color: #131313;
}

.profile-myorders__order-wrapper {
  position: relative;
  border: 1px solid black;
  width: 85%;
  height: 85%;
}
