.new_releases {
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}

.category__title {
  font-family: "Roboto", sans-serif;
  display: flex;
  color: #131313;
  margin-left: 300px;
}
