.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category__title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #131313;

  margin-left: 6em;
  margin-top: 1em;
  display: none;
}
