.stepper {
  position: absolute;
  top: 18em;
  margin-bottom: 1em;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
  transition: 1s;
}

.steps li {
  background: black;
  padding: 3px 15px;
  border-right: 1px solid #333;
  transition: 1s;
}

.steps li:last-child {
  border: none;
}

.active {
  border-bottom: 2px solid #ec5990 !important;
}
