#promotions__header {
  font-size: 1.4em;
  font-family: 'Montserrat';
  position: absolute;
  top: 1rem;
  left: 28em;
}

.admin-create__promotion_preview {
  position: absolute;
  top: 4em;
  left: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
  flex-wrap: wrap;
  border: 1px dotted black;
}

.admin-create__promotion_preview__col {
  position: relative;
  font-size: 1.2em;
  padding: 1em;
  width: 100%;
}

.admin-create__promotion_preview__col p {
  word-break: break-all;
  padding: 1rem;
}

.admin-create__promotion_preview__col img {
  height: 150px;
  margin: 0em 5em;
}
