.homepage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  height: 100vh;
}

.itsatest {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  width: 67%;
  height: 100%;
  border: 2px solid black;
}

.box {
  background: grey;
  padding: 20px 20px 20px 20px;
  width: 340px;
  height: 340px;
  border: 2px solid black;
}
