.navbar {
  display: grid;
  grid-area: 1 / 1 / 2 / 13;
  background: transparent;
  position: fixed;
  z-index: 9;

  width: 100%;
  justify-content: end;
}

.navbar h1 {
  color: #c3b091;
}

.nav-wrapper {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  width: 67.5em;
}

.nav-wrapper__right {
  z-index: 999;
  width: 100%;
}

.nav-wrapper__left {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}
