.order-payment {
  display: grid;
  place-items: start center;
  height: 100vh;
  border: 2px solid red;
}

.order-payment__wrapper {
  display: grid;
  place-items: center center;
  grid-auto-flow: column;
  width: 70%;
  height: 50%;
  border: 2px solid brown;
  font-family: 'Montserrat', sans-serif;
}

#stripe-wrapper p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.order-payment__wrapper form {
  padding: 15px 15px;
  width: 25em;
  height: 10em;
  top: 75%;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px 3px #000000; 
  box-shadow: 5px 5px 10px 3px #000000;
}

.order-payment__wrapper form button {
  font-size: 1em;
  margin-top: 2em;
  border: none;
  height: 3em;
  width: 75%;
  background: #228b22;
  color: white;
  transition: 1.5s;
}

.order-payment__wrapper form button:hover {
  cursor: pointer;
  background: #2c6b2c;
}

.order-payment__wrapper form button:active {
  transform: translateY(2px);
}

#stripe__p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5em;
}

.order-payment__wrapper h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
}

.order-payment__wrapper__payment-method {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 15em;
  width: 20.3em;
  border: 5px solid black;
}

.order-payment__wrapper__payment-method button {
  font-size: 1em;
  padding: 1em;
  background: skyblue;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 1s ease-in;
}

.order-payment__wrapper__payment-method button:hover {
  background: orange;
}

.order-payment__wrapper__payment-method h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  text-align: center;
  padding: 1em;
  height: 3em;
}

.order-payment__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 50%;
}

.order-payment__form-wrapper label {
  font-size: 1.2em;
  cursor: pointer;
}

.order-payment__form-wrapper input {
  margin-right: 1em;
  cursor: pointer;
}
