.edit-categories {
  display: grid;
  margin: 1em;
}

.category-editor {
  display: grid;
  place-items: center center;
}

.category-editor h1 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

.category-editor form {
  display: flex;
  flex-direction: column;
}

.category-editor input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.edit-categories select {
  margin-bottom: 1em;
}

.category-editor input[type='submit'] {
  margin-top: 1em;
  border: none;
  height: 3em;
  background: #228b22;
  color: white;
  cursor: pointer;
}

.category-editor input[type='submit']:hover {
  background: #2c6b2c;
}

.category-editor input[type='submit']:active {
  transform: translateY(2px);
}
