.single-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
  background: #38242c;
  color: beige;
}

.header-filler {
  grid-column: 1/3;
}

.single-product__img__container {
  display: grid;
  place-items: start center;
}

.single-product__col-1 {
  display: grid;
  width: 80%;
  height: 80%;
  border-radius: 4px;
}

.single-product__col-2 {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.single-product__col-2__info {
  font-size: 2em;
}

.single-product__col-2 h1 {
  font-family: 'Montserrat';
  font-size: 2.8em;
  font-weight: 400;
}

.single-product__col-2__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid beige;
}

.single-product__col-2__header__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.single-product__col-2__header__left h1 {
  padding: 0rem 3.5rem;
}

.single-product__col-2__header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 20em; 
  height: 100%;
}

.single-product__col-2__header__right h2 {
  font-family: 'Montserrat';
  font-size: 1em;
}

.single-product__col-2__header h1 {
  margin-bottom: .5em;
}

.single-product__col-2__header__pstatus {
  background: #131313;
  color: beige;
  padding: 1em;
  width: 7em;
  margin-left: 4.5em;
}

.single-product__col-2__main {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 0em 1em 3.5em;
}

.single-product__col-2__main h2 {
  font-size: 1.4em;
  padding: 1em;
}

.single-product__col-2__main p {
  font-size: 1em;
  padding: 1em;
}

.single-product__col-2__footer {
  display: flex;
  justify-content: flex-start;
  padding: 3em;
  width: 100%;
}

.single-product__col-2__footer p {
  font-family: 'Montserrat';
  font-size: 1.4em;
  padding: 1.5em;
}

.single-product__col-2__footer select {
  font-family: 'Montserrat';
  font-size: 1.2em;
  padding: 1em;
  height: 35%;
  outline: none;
  border: none;
}

.single-product__col-2 button {
  font-family: 'Montserrat';
  font-size: 1.4em;
  padding: 1em;
  width: 40%;
  height: 35%;
  background: #716040;
  padding: 1em;
}

.single-product__col-2__main {
  font-family: 'Montserrat';
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-top: 1px solid beige;
}

.single-product__col-2__main h2 {
  font-size: 1.4em;
}

.single-product__col-2__main p {
  font-size: 1em;
}

.single-product__col-2__footer {
  display: flex;
  border-top: 1px solid beige;
}

.single-product__col-2__footer p {
  font-family: 'Montserrat';
  font-size: 1.4em;
}

.single-product__col-2__footer select {
  font-family: 'Montserrat';
  font-size: 1.2em;
  outline: none;
  border: none;
}

.single-product__col-2 button {
  font-family: 'Montserrat';
  font-size: 1.4em;
  padding: 1em;
  width: 40%;
  background: #716040;
  color: beige;
  cursor: pointer;
  border: none;
  margin-left: 1em;
  transition: 1.5s ease-out;
}

.single-product__col-2 button:hover {
  background: #271c19;
}

#p-title:first-letter {
 text-transform: capitalize;
}

@media (max-width: 1000px) {
  .single-product {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr;
  }
  .header-filler {
    grid-column: 1;
  }
}

@media (max-width: 560px) {
  .single-product__col-2 h1 {
    font-size: 2rem;
  }
  .single-product__col-2__main h2 {
    font-size: 1.2rem;
  }
  .single-product__col-2__footer {
    padding: 1rem;
  }
  .single-product__col-2__footer p {
    font-size: 1rem;
    padding: 1.5rem .5rem;
  }
  .single-product__col-2__footer select {
    height: inherit;
  }
  .single-product__col-2 button {
    font-size: 1rem;
    padding: inherit;
    width: inherit;
    height: inherit;
  }
  .single-product__col-2__header {
    padding: 1rem;
  }
}
